#FilterProduct {
  margin: 45px 0;
  .title {
    border-bottom: 1px solid var(--boder-bottom);
    display: flex;
    > h3 {
      font-size: 22px;
      font-weight: 400;
      color: var(--color-headings);
      padding-bottom: 20px;
      position: relative;
      margin: 0;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        border-bottom: 2px solid transparent;
        background-color: var(--color-primary);
      }
    }
  }

  .filter-price {
    > h4 {
      margin: 30px 0 20px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-headings);
    }
    .price_label {
      margin: 15px 0 30px;
      font-size: 15px;
      font-weight: 400;
      color: #aaa;
    }
  }
  .btn-filter {
    display: block;
    padding: 10px 23px;
    border-radius: 8px;
    background-color: #efefef;
    border: 1px solid #efefef;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #212121;
      color: #fff;
    }
  }

  .ant-slider-handle {
    &:hover {
      cursor: w-resize;
    }
  }
  .ant-slider-handle-1 {
    background-color: #fed700;
  }
  .ant-slider-rail {
    background-color: #aaa;
    opacity: 0.5;
  }
}
